{% extends "base.html" %}

{% block content %}

{% set root = "http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/D6/2017-spring-championship/" %}

<p>Click an image to open a bigger version in a new tab.</p>

{% for row in [("8532", "8541", "8544", "8547"),
               ("8549", "8555", "8560", "8564"),
               ("8573", "8575", "8586", "8587"),
               ("8588", "8593", "8597", "8599"),
               ("8613", "8630", "8646", "8656"),
               ("8683", "8691", "8704", "8719"),
               ("8725", "8735", "8753", "8755"),
               ("8759", "8770", "8776", "8777"),
               ("8778", "8779", "8783", "8836"),
               ("8846", "8872", "8874", "8885"),
               ("8897", "8911", "8926", "8929"),
               ("8941", "8966", "8982", "9008"),
               ("9021", "9039", "9045", "9067"),
               ("9079", "9089", "9101", "9106"),
               ("9110", "9111", "9121", "9142"),
               ("9155", "9169", "9207", "9220"),
               ("9256", "9317", "9355", "9366"),
               ("9370", "9381", "9385", "9391"),
               ("9392", "9394", "9396", "9401"),
               ("9409", "9411", "9412", "9415"),
               ("9422", "9431", "9436", "9437")] %}

<div class="row">
  {% for img in row %}
  <div class="col-md-3">
    <a href="{{ root }}/d6-championship-1080-{{ img }}.jpg" target="_blank">
      <img class="img-fluid"
           src="{{ root }}/d6-championship-1080-{{ img }}.jpg" />
    </a>
  </div>
  {% endfor %}
</div>
<br />
{% endfor %}


{% endblock %}
