{% extends "base.html" %}

{% block content %}

<div>
  I am...
  <ul>
    <li>located in Brooklyn, NY</li>
    <li>a software developer at
        <a href="https://www.rackspace.com" target="_blank">Rackspace</a></li>
    <li>a photographer</li>
  </ul>

  My email address is <code>brian</code> at <code>python.org</code>.

</div>
<div>
  <h3>PGP Keys</h3>
  <ul>
    <li>Main key, PyPI releases: <a href="/static/keys/main.asc"><code>E628 66A3 5625 75D9 5B57  0AF5 8EB7 1A70 831B 56D1</code></a></li>
    <li>GitHub commit signing: <a href="/static/keys/github.asc"><code>8429 B9CB 3B63 DBA3 2A43  765E E408 B1AB 7AF2 87C1</code></a></li>
  </ul>
 </div>

{% endblock %}
