{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-4598.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-5493.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-4823.jpg" />
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-5177.jpg" />
  </div>
  <div class="col-md-6">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-5206.jpg" />
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-5848.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-5986.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-6202.jpg" />
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-4630.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-4700-clip.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/baseball/LIU-Brooklyn-4804.jpg" />
  </div>
</div>

{% endblock %}
