<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head;
         any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="static/images/favicon.ico">-->

    <title>Brian Curtin</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap-4.0.0-alpha.6/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and
         media queries -->
    <!--[if lt IE 9]>
      <script
       src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script
       src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!--TODO: theme, probably not inverse -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button"
              data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Brian Curtin</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
               id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Photography
            </a>
            <div class="dropdown-menu"
                 aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item"
                 href="/photography/baseball">Baseball</a>
              <a class="dropdown-item"
                 href="/photography/hockey">Hockey</a>
              <a class="dropdown-item disabled" href="#">Portrait</a>
              <a class="dropdown-item disabled" href="#">Street</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"
                 href="https://www.instagram.com/curtinbrian/"
                 target="_blank">Instagram</a>
              <a class="dropdown-item"
                 href="https://www.flickr.com/photos/150894684@N05/"
                 target="_blank">Flickr</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle disabled" href="#"
               id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Software
            </a>
            <div class="dropdown-menu"
                 aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Resume</a>
              <a class="dropdown-item" href="https://github.com/briancurtin">
                 GitHub</a>
              <a class="dropdown-item"
                 href="https://www.linkedin.com/in/briancurtin1/">LinkedIn</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <div class="container">

        {% block content %}{% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/vendor/bootstrap-4.0.0-alpha.6/js/bootstrap.min.js"></script>
  </body>
</html>

