{% extends "base.html" %}

{% block content %}

<p>Click an image to open it full size in a new tab.</p>

<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7069.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7069.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7070.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7070.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7092.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7092.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7093.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7093.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7111.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7111.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7116.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7116.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7156.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7156.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7159.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7159.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7172.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7172.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7173.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7173.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7178.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7178.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7226.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7226.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7228.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7228.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7229.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7229.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7231.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7231.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7251.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7251.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7258.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7258.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7263.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7263.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7265.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7265.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7267.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7267.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7268.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7268.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7269.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7269.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7278.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7278.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7748.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7748.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7770.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7770.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7779.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7779.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7782.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7782.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7785.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7785.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7855.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7855.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7862.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7862.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7864.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7864.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7869.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7869.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7872.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7872.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7886.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7886.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7924.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/bulldogs/bulldogs-7924.jpg" />
    </a>
  </div>
</div>
<br/>
{% endblock %}
