{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Aviator-7280.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Aviator-7116.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Aviator-7159.jpg" />
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Chelsea-1287.jpg" />
  </div>
  <div class="col-md-6">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Chelsea-1362.jpg" />
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Aviator-7141.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Aviator-7093.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Aviator-7182.jpg" />
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Chelsea-3887.jpg" />
  </div>
  <div class="col-md-6">
    <img class="img-fluid"
         src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/Chelsea-2599.jpg" />
  </div>
</div>

{% endblock %}
