{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <img class="img-fluid"
         src="../static/images/hockey/Aviator-7280.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="../static/images/hockey/Aviator-7116.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="../static/images/hockey/Aviator-7159.jpg" />
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <img class="img-fluid"
         src="../static/images/hockey/Chelsea-1287.jpg" />
  </div>
  <div class="col-md-6">
    <img class="img-fluid"
         src="../static/images/hockey/Chelsea-1362.jpg" />
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4">
    <img class="img-fluid"
         src="../static/images/hockey/Aviator-7141.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="../static/images/hockey/Aviator-7093.jpg" />
  </div>
  <div class="col-md-4">
    <img class="img-fluid"
         src="../static/images/hockey/Aviator-7182.jpg" />
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <img class="img-fluid"
         src="../static/images/hockey/Chelsea-3887.jpg" />
  </div>
  <div class="col-md-6">
    <img class="img-fluid"
         src="../static/images/hockey/Chelsea-2599.jpg" />
  </div>
</div>

{% endblock %}
