{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top img-fluid"
           src="../static/images/baseball/LIU-Brooklyn-4598.jpg"
           alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Baseball Photography</h4>
        <p class="card-text">Game pictures of
           <a href="http://liuathletics.com/index.aspx?path=baseball"
              target="_blank">LIU Brooklyn</a>, an NCAA Division I
           program in the Northeast Conference.</p>
        <a href="/photography/baseball" class="btn btn-primary">Gallery</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top img-fluid"
           src="../static/images/hockey/Aviator-7116.jpg"
           alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Hockey Photography</h4>
        <p class="card-text">Game pictures from adult recreational hockey
                             leagues in Manhattan and Brooklyn.</p>
        <a href="/photography/hockey" class="btn btn-primary">Gallery</a>
      </div>
    </div>
  <div>
</div>

{% endblock %}
