{% extends "base.html" %}

{% block content %}

<p>Click an image to open it full size in a new tab.</p>

<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7718.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7718.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7737.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7737.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7789.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7789.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7810.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7810.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7814.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7814.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7831.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7831.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7843.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7843.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7879.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7879.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7904.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7904.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7911.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/hockey/monkeys/monkeys-7911.jpg" />
    </a>
  </div>
</div>
<br/>

{% endblock %}
