{% extends "base.html" %}

{% block content %}

<p>Click an image to open it full size in a new tab.</p>

<p><h4>Fat Cat</h4></p>
<p>The pool table shots are the same but just cropped more how I wanted
it to turn out. They had just broke so I wanted to hop in quick and get the
ping pong action in the background while all of the balls were down
on that end.</p>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/fatcat-8145.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/fatcat-8145.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/fatcat-8160.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/fatcat-8160.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/fatcat-8180.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/fatcat-8180.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/fatcat-crop-8180.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/fatcat-crop-8180.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>Warren 77</h4></p>
<p>Another scaffold, sort of. A direct straight-on shot looks weird here
since the 77 part of the name gets left out entirely, but from an angle
the temporary sign on the scaffold brings it back in. This one is easy
to get back to if you have other ideas for an exterior shot.</p>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/warren-8223.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/warren-8223.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/warren-8231.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/warren-8231.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/warren-8212.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/warren-8212.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>Tiny's & The Bar Upstairs</h4></p>
<p>I figure the landscape shots are maybe more usable than the portrait
ones since they end up working tighter, but here's both.</p>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/tinys-8203.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/tinys-8203.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/tinys-8208.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/tinys-8208.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/tinys-8186.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/tinys-8186.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/tinys-8190.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170711/tinys-8190.jpg" />
    </a>
  </div>
</div>
<br/>

{% endblock %}
