{% extends "base.html" %}

{% block content %}

<p>Click an image to open it full size in a new tab.</p>

<p><h4>Carbone</h4></p>
<p>They were shooting a movie in front, so that's what the scissor lift was
for.</p>
<div class="row">
  <div class="col-md-5">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/carbone-8238.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/carbone-8238.jpg" />
    </a>
  </div>
  <div class="col-md-2">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/carbone-8248.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/carbone-8248.jpg" />
    </a>
  </div>
  <div class="col-md-5">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/carbone-8265.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/carbone-8265.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>Generation Records</h4></p>
<p>I tried some shots of the rows of records but they're relatively short
and don't really stand out as representing this place, they just looked
like stock photos. It's a pretty plain store inside.</p>
<div class="row">
  <div class="col-md-12">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/generation-8280.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/generation-8280.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>The Great Frog</h4></p>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/greatfrog-8508.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/greatfrog-8508.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/greatfrog-8510.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/greatfrog-8510.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/greatfrog-8513.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/greatfrog-8513.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>McSorley's</h4></p>
<p>Note: This place is great.</p>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mcsorleys-8282.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mcsorleys-8282.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mcsorleys-8284.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mcsorleys-8284.jpg" />
    </a>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mcsorleys-8290.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mcsorleys-8290.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mcsorleys-8291.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mcsorleys-8291.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>Metrograph</h4></p>
<p>This one is sort of tough because there's no exterior signage, just that
sort of hard to read board behind the window. This was shot with a polarizer
that sort of cut down the glare, but there was really no great way to get this.
With this being so close to the Manhattan Bridge, I can get back here pretty
easily during lunch if you want a reshoot.
</p>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/metrograph-8389.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/metrograph-8389.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/metrograph-8390.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/metrograph-8390.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>mofo</h4></p>
<p>Any wide shot from further back doesn't really capture that hockey is going
on beyond the fence, but I figured these kind of shots give you a look at
what's going on on the other side, with a view of what surrounds.
</p>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mofo-8439.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mofo-8439.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mofo-8480.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mofo-8480.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mofo-8489.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/mofo-8489.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>Niagara</h4></p>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/niagara-8330.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/niagara-8330.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/niagara-8372.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/niagara-8372.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>Noah</h4></p>
<p>These guys didn't want any inside shots "unless we coordinate our press
effort" with them. I was hoping they'd be cool like Front General Store
and let me shoot, because some interior shots would have been pretty cool
for this one, but no...so I just walked outside and got a few. If you do
want interiors, they'd want you to email auriel@noahny.com and set it up.
However, I feel like I know what your answer is: no.
</p>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/noah-8497.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/noah-8497.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/noah-8502.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/noah-8502.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>Please Don't Tell</h4></p>
<p>This place looks really cool, but I didn't have time to wait in line for
like an hour or so to get in. Also, it was National Hot Dog Day when I went
and almost no one was there for Crif Dogs.
</p>
<div class="row">
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/pdt-8311.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/pdt-8311.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/pdt-8320.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/pdt-8320.jpg" />
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/pdt-8387.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/pdt-8387.jpg" />
    </a>
  </div>
</div>
<br/>
<p><h4>Procell</h4></p>
<p>These didn't turn out as well as I wanted. I forgot to pack the polarizer
for my 20mm so I just left the 24-70 on and got a bunch of shots with lots of
reflection in the glass. This one is really easy to get to for me so I can
come back on my lunch break if you'd like a cleaner shot. That'll probably
be easier to shoot an interior shot as well, as it was sort of crowded
when I went at ~6:30.
</p>
<div class="row">
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/procell-8504.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/procell-8504.jpg" />
    </a>
  </div>
  <div class="col-md-6">
    <a href="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/procell-8506.jpg" target="_blank">
      <img class="img-fluid"
           src="http://84e4527ee338cd66bfb0-f7a6f90b7e1c3592a46148bdf87a4363.r59.cf5.rackcdn.com/thag-20170721/procell-8506.jpg" />
    </a>
  </div>
</div>
<br/>

{% endblock %}
